.container {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url('/images/ben_photography.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}  

.heroImage {
  width: 100%;
  height: auto;
  display: block; 
}


.box {
  position: absolute; 
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 50rem;
  max-width: 60%;
  height: 30rem;
  font-size: 30px;
  background-color: rgb(31, 29, 29);
  opacity: 90%;
  color: white;
  border-radius: 10px;
  display: flex;
} 


.box_content {
  padding: 60px;
}


.p {
  color: white;
  font-size: 20px;
  margin-right: 100px;
}

    
.title {
    font-size: 23pt;
    font-weight: lighter;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 23pt;
    font-weight: bold;
    margin-bottom: 20px;
  }

.h2 {
      font-weight: 200;
      color: rgb(222, 211, 211);
      }


.h4 {
        font-size: medium;
      }

      .form {
        font-size: medium;
        color: grey;
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;

      }


    .input {
      text-align: center;
      color:black;
      font-weight: 500;
      border-radius: 10px;
      width: 300px;
    }

      .button {
        background-color:  rgb(158, 64, 64);
        color: rgb(238, 238, 241);
        font-size: medium;
        padding: 10px 20px;
        margin-left: 9px;
        border-radius: 10px;
        
    
        
      }

      .button:hover {
        background-color:rgb(198, 96, 96);
        transition: 0.7s;
    }


       @media screen and ( max-width: 1255px ) {


        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            
        }
  
          .box {
            width: 100%;
            height: 100%;
            min-width: 100%;
            min-height: 105%;
            font-size: 15px;
            position: absolute; 
            top: 50%;
            left: 50%;
            border-radius: 0px;
              
          }

          .box_content {
            /* padding: 0px;
            padding-left: 100px;
            padding-top:150px;
            align-items: center; */

            display: flex;
            flex-direction: column;
            padding: 0px;
            padding-left: 100px;
            padding-top: 40px;
            justify-content: center;
            align-items: flex-start;
          }

          .p { 
            font-size: 23px;
          }

          .form {
            font-size: medium;
            color: grey;
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
    
          }
    
    
        .input {
          text-align: center;
          color:black;
          font-weight: 500;
          border-radius: 10px;
          width: 400px;
        }
    
          .button {
            background-color:  rgb(158, 64, 64);
            color: rgb(238, 238, 241);
            font-size: medium;
            padding: 10px 20px;
            margin-left: 9px;
            border-radius: 10px;
            
        
            
          }
          
     }


     @media screen and ( max-width: 820px ) {


      .container {
          display: flex;
          flex-direction: column;
          min-height: 55vh;
          
      }

      .heroImage {
        display: none; /* Hide the image below 820px */
      }

        .box {
          width: 100%;
          height: 105%; 
          min-width: 100%;
          min-height: 100%; 
          font-size: 14px;
          position: absolute; 
          top: 50%;
          left: 50%;
          border-radius: 0px;
            
        }

        .box_content {
          display: flex;
          flex-direction: column;
          padding: 0px;
          padding-left: 50px;
          padding-top: 40px;
          justify-content: center;
          align-items: flex-start;
        }

        .p { 
          font-size: 20px;
        }

      
        
   }
  

   
   @media screen and ( max-width: 560px ) {

    .box_content {
      display: flex;
      flex-direction: column;
      padding: 0px;
      padding-left: 40px;
      padding-top: 60px;
      justify-content: center;
      align-items: flex-start;
    }

    .title {
      font-size: 14pt;
      font-weight: lighter;
      margin-bottom: 5px;
    }

    .subtitle {
      font-size: 12pt;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .p {
      color: white;
      font-size: 15px;
      margin-right: 60px;
    }
    
  

    .form {
      font-size: medium;
      color: grey;
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;

    }


  .input {
    text-align: center;
    color:black;
    font-weight: 500;
    border-radius: 10px;
    width: 250px;
    height: 30px;
  }

    .button {
      background-color:  rgb(158, 64, 64);
      color: rgb(238, 238, 241);
      font-size: medium;
      padding: 0px 20px;
      margin-left: 9px;
      border-radius: 10px;
      height: 30px;
      
  
      
    }
    
   }

