.letter_signup {
  background-color: rgb(45, 42, 42);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.container {
  max-width: 700px;
  width: 90%;
  text-align: center;
}

.logoWrapper {
   flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  margin-right: 32px;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.h1 {
  font-size: 45px;
  font-weight: 600;
  margin: 10px 0;
}

.p {
  font-weight: 500;
  font-size: 18px;
  color: rgb(215, 210, 210);
  margin: 5px 0 20px 0;
}

.form {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px;
}

.input {
  text-align: center;
  color: black;
  font-weight: 500;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.button {
  background-color: rgb(158, 64, 64);
  color: white;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(198, 96, 96);
  transition: 0.3s ease-in-out;
}

.message {
  color: lightgreen;
  margin-top: 10px;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .letter_signup {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;
  }

  .logoWrapper {
    margin-bottom: 2px; /* reduce from 24px */
  }

  .logo {
    width: 120px; /* reduce from 100px */
    height: 120px;
  }

  .form {
    justify-content: center;
  }

   .h1 {
    font-size: 28px;
  } 
  .input {
    width: 100%;
    max-width: 250px;
  }
}


