html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(254, 254, 254);
    position: relative;
    width: 100%
}

header {
  background-color: rgb(28, 27, 27);
  color: whitesmoke;
  position: fixed; 
  width: 100%;
  height: 80px;
  z-index: 1; 
}


li {
  list-style: none;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


