
.blogPageContent li {
    list-style-type: square;
   
}

.blogPageContent ul li::marker {
    color:  rgb(197, 60, 60);
    font-size: x-large;
}

.blogPageContent ol li {
    list-style-type: decimal; 
  }

.blogPageContent a {
    color: rgb(197, 60, 60);
    font-weight: 600;

}

.blogPageContent {
    min-width: 100vh;
}


.main {
    padding: 120px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    margin: 0px 350px;
    max-width: 1200px;
    min-width: 335px;
   
}



.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  
}

.title { 
    font-size: xx-large; 
    font-weight: bold;
    padding-bottom: 25px
}

.date {
    margin-bottom: 15px;
}


.image {
    
    border-radius: 10px;
    width: 850px;

}

.main_text {
    padding-top: 50px;
    padding-bottom: 0px;
    font-size: 19px;
    color: rgb(0, 0, 0);
    margin: 0px 10px;
    max-width: 800px;
    line-height: 2;
    word-spacing: 3px;
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Montserrat', serif;
    font-weight: 500;
}

.newsletter_subscribe {
    margin-top: 0px;
    border-radius: 20px;
    width : 1000px;
    
}


  
 

@media (max-width: 1200px) {

    .main {
        margin: 0px 10px;
    }
}

@media (max-width: 450px) {


    .main {
        padding: 130px 50px 30px 50px;
        margin: 0px 10px;
        /* justify-content: center;
        align-items: center; */
    }


   
    .main_text {
        font-size: 19px;
        word-spacing: 2px;
        margin: 0px 0px;
        font-family: 'Lato', serif;

    }


}
