
.main {
    padding: 120px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    margin: 0px 350px;
    max-width: 1200px;
    min-width: 335px;
}



.content {
    display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  
}

.title { 
    font-size: xx-large; 
    font-weight: bold;
    padding-bottom: 25px
}

.date {
    margin: 0;
}


.image {
    
    border-radius: 10px;
    width: 850px;

}

.main_text {
    padding-top: 50px;
    padding-bottom: 0px;
    font-size: 23px;
    color: rgb(0, 0, 0);
    margin: 0px 10px;
    max-width: 800px;
    line-height: 2;
    word-spacing: 3px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}

.newsletter_subscribe {
    margin-top: 0px;
    border-radius: 20px;
    width : 1000px;
    
}

@media (max-width: 1200px) {

    .main {
        margin: 0px 10px;
    }
}

@media (max-width: 450px) {

    .main {
        padding: 100px 50px 30px 50px;
        margin: 0px 10px;
        justify-content: center;
        align-items: center;
    }
   
    .main_text {
        font-size: 19px;
        word-spacing: 2px;
        margin: 0px 0px;

    }


}
